@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
}
@{
    Layout = "_LayoutRegisterLogin";
}

    <div class="container">
        <div class="row">
            <div class="col-lg-10 col-xl-9 mx-auto">
                <div class="card card-signin flex-row my-4">
                    <div class="card-img-left d-none d-md-flex">
                        <!-- Background image for card set in CSS! -->
                    </div>
                    <div class="card-body">
                        <h5 class="card-title text-center">Log in</h5>

                        <form class="form-signin" method="post">

                            <div asp-validation-summary="All" class="text-danger"></div>

                            <div class="form-label-group">
                                <label asp-for="Input.Email"></label>
                                <input asp-for="Input.Email" class="form-control" />
                                <span asp-validation-for="Input.Email" class="text-danger"></span>
                            </div>

                            <div class="form-label-group">
                                <label asp-for="Input.Password"></label>
                                <input asp-for="Input.Password" class="form-control" />
                                <span asp-validation-for="Input.Password" class="text-danger"></span>
                            </div>

                            <div class="form-label-group">
                                <div class="checkbox">
                                    <label asp-for="Input.RememberMe">
                                        <input asp-for="Input.RememberMe" />
                                        @Html.DisplayNameFor(m => m.Input.RememberMe)
                                    </label>
                                </div>
                            </div>

                            <div class="form-group">
                                <button type="submit" class="btn btn-lg btn-primary btn-block text-uppercase">Log in</button>
                            </div>

                            <hr class="my-4">
                            <div class="form-group">
                                <p>
                                    <a class="d-block text-center mt-2 small" asp-page="./ForgotPassword">Forgot your password?</a>
                                </p>
                                <p>
                                    <a class="d-block text-center mt-2 small" asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Register as a new user</a>
                                </p>
                            </div>
                        </form>

                    </div>

                </div>
            </div>
        </div>
    </div>

          
